---
# Hyperparameters to this layer:
#
# input, output, error
# input_delivery, output_delivery, error_delivery
# lambda_dependencies
meta:
    description:
        Runs a list of python callables over given kinesis event stream
    {% if dependencies %}
    dependencies:
        # Needed if the Lambda delivers to S3
        {% for d in dependencies %}
        - {{d}}
        {% endfor %}
    {% endif %}
    parameters:
        dynamodb_capacity:
            description:
                The read and write capacity for the Lambda state table(s)
            value:
                read: 5
                write: 5
        partition_key:
            description:
                A callable that produces the partition key that determines the 
                target shard for output events. If not provided a random 
                partition key will be used.
            value:
        callables:
            description:
                List of callables in dot-notation to call for every event in an input stream
            value: []
        batch_size:
            description:
                The number of events to batch in one lambda execution
            value: 1
        lambda_dependencies:
            description:
                A list of Python dependencies for the Lambda function
            value: []
        {% set streams={"input": input, "output": output, "error": error} %}
        {% set delivery={"input": input_delivery, "output": output_delivery, "error": error_delivery} %}
        {% for io in ["input", "output", "error"] %}
        {% if streams[io] %}
        {{io}}_stream:
            description:
                The Physical IDs of the {{io}} Kinesis stream
            value:
                name:
                    ref:
                        parser: output
                        parameters:
                            layer_name: {{streams[io].layer}}
                            output_name: {{streams[io].stream}}
                arn:
                    ref:
                        parser: output
                        parameters:
                            layer_name: {{streams[io].layer}}
                            output_name: {{streams[io].stream}}Arn
                shard_count:
                    ref:
                        parser: output
                        parameters:
                            layer_name: {{streams[io].layer}}
                            output_name: {{streams[io].stream}}ShardCount
        {% endif %}
        {% if delivery[io] %}
        {{io}}_delivery_stream:
            description:
                The Physical IDs of the {{io}} S3 delivery stream
            value:
                name:
                    ref:
                        parser: output
                        parameters:
                            layer_name: {{delivery[io].layer}}
                            output_name: {{delivery[io].stream}}
                arn:
                    ref:
                        parser: output
                        parameters:
                            layer_name: {{delivery[io].layer}}
                            output_name: {{delivery[io].stream}}Arn
        {% endif %}
        {% endfor %}
        lambda_function:
            # We use a low priority so that the references above that retrieve
            # the names of the relevant streams are resolved before this
            # reference.
            priority: 100
            value:
                ref:
                    parser: lambda
                    parameters:
                        path: lambda_function
                        dependencies: {{lambda_dependencies or []}}
