---
humilis-kinesis-mapper:

    description:
        A dummy environment for testing the map-uaparser processor

    layers:
        # The I/O Kinesis streams
        - layer: streams
          layer_type: streams
          streams:
              - name: InputStream
                shard_count: 1
              - name: OutputStream
                shard_count: 1
              - name: ErrorStream
                shard_count: 1

        # Parses user agents
        - layer: kinesis-mapper
          layer_type: kinesis-mapper
          lambda_dependencies:
            - timeout_decorator
          callables:
            - timeout_decorator.timeout_decorator:timeout
          input: {layer: streams, stream: InputStream}
          output: {layer: streams, stream: OutputStream}
          error: {layer: streams, stream: ErrorStream}
          input_delivery: False
          output_delivery: False
          error_delivery: False

        # Keeps secrets: the Sentry token
        - layer: secrets-vault
          layer_type: secrets-vault
          associated_processors:
              - kinesis-mapper
