---
humilis-kinesis-mapper:

    description:
        A dummy environment for testing the map-uaparser processor

    layers:
        # The I/O Kinesis streams
        - layer: streams
          layer_type: streams
          streams:
              # Use two shards to test support for multiple shards
              - name: InputStream
                shard_count: 2
              - name: OutputStream
                shard_count: 2
              - name: ErrorStream
                shard_count: 1

        # Parses user agents. Stores also some state info to test
        # support for stateful Lambdas and multi-shard streams.
        - layer: kinesis-mapper
          layer_type: kinesis-mapper
          partition_key: myparserpkg.__init__:partition_key
          lambda_dependencies:
            - user-agents
            - mycode/myparserpkg
          callables:
            - myparserpkg.__init__:parse_ua
          input: {layer: streams, stream: InputStream}
          output: {layer: streams, stream: OutputStream}
          error: {layer: streams, stream: ErrorStream}
          input_delivery: False
          output_delivery: False
          error_delivery: False

        # Keeps secrets: the Sentry token
        - layer: secrets-vault
          layer_type: secrets-vault
          associated_processors:
              - kinesis-mapper
